@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  align-items: center;
}

body {
  font-family: "GmarketSansMedium", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer {
  margin-top: auto;
}

@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
    padding: 10px;
  }
}
