.footer-container {
  /* position: fixed;  */
  width: 100%;
  height: 1rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.footer-inner-container {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-inner-container > div {
  align-items: center;
  justify-content: center;
  margin: 3px;
  color: #666666;
}

.noticeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.carousel-item {
  margin-bottom: 2rem;
}

.carousel-indicators {
  width: auto;
  height: auto;
  padding-top: 2rem;
  top: auto;
}
