/* src/App.css */

.App {
  width: 100%;
  font-family: "GmarketSansMedium", sans-serif;
  font-size: rem;
  color: #666666;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height:0;
  padding-bottom: 20px;
  margin: 0 0rem;
}

/* Landing Layout */
.landing-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--gap);
  min-height: 50vh;
  gap: var(--gap);
}

.banner-container {

  min-width:200px;
  height: 80vh;
  padding: 10px;
  box-sizing: border-box;
}

.banner-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid blue;
  margin-bottom: 8px;
  text-align: center;
  height: 24%;
}
.banner-item:last-child {
  margin-bottom: 0;
}

/* Responsive Layouts */
@media (min-width: 600px) {
  .banner-container {
    flex: 0 0 var(--banner-width);
  }
  .App.landing {
    flex-grow: 1;
  }
}

@media (max-width: 599px) {
  .landing-container {
    flex-direction: column;
    align-items: stretch;
  }

  .banner-container {
    flex-basis: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    height: auto; /* 기존 height: 100% 제거 */
  }

  .banner-item {
    height: 60px; /* 고정 높이로 명확하게 설정 */
    margin-bottom: 10px;
  }

  .banner-left {
    order: 1;
  }

  .App.landing {
    order: 2;
  }

  .banner-right {
    order: 3;
  }
}


/* Common Layout Components */
.landing > div {
  display: flex;
  max-width: 800px;
  align-items: center;
  justify-content: center;
}

.landing > ul {
  list-style-type: none;
}

.title-container {
  font-size: 10px;
  color: #666666;
}
.title-container > h1 {
  color: white;
}

.logoContainer {
  display: flex;
  margin-bottom: 3rem;
}

.mainContainer {
  max-width: 800px;
  width: 100%; /* 전체 너비 차지하도록 설정 */
  margin: 0 auto; /* 좌우 중앙 정렬 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/* Quiz Card */
.question-card {
  width: 350px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.option-card {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

/* Recommendations */
.recommendations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recommendation-background-container {
  width: 350px;
  height: 350px;
  padding: 20px;
}

.recommendation {
  position: relative;
  width: 350px;
  height: auto;
  display: inline-block;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.recommendation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(1, 1, 1, 0.9);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.recommendation:hover::before {
  opacity: 1;
}

.recommendation > div {
  position: relative;
  z-index: 1;
  color: transparent;
  transition: color 0.3s ease;
}
.recommendation:hover > div {
  color: white;
}

.recommendation > div > ul {
  list-style: none;
}

/* Buttons */
button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #28a745;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #218838;
}

/* Toggle Switch */
.toggle-container {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.toggle-label {
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}

.toggle-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle-switch {
  cursor: pointer;
  display: inline-block;
  width: 50px;
  height: 24px;
  background-color: #ccc;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
  margin-left: 10px;
}

.toggle-switch::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
}

.toggle-checkbox:checked + .toggle-switch {
  background-color: #4caf50;
}

.toggle-checkbox:checked + .toggle-switch::before {
  transform: translateX(26px);
}

/* Button Group */
.btn-group {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-group > button {
  width: 10rem;
}

/* Start Button */
.start-button {
  background-color: #4caf50;
  color: white
